<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!-- container for metadata(is not displayed on the page)
    title, styles(css),link,scripts,meta, others
 -->
</head>
<body>
<b>Welcome to Java developer course</b>
<h1 align="center" style="color: blue">Spring boot</h1>
<h2>Spring boot</h2>
<h3>Spring boot</h3>
<h4>Spring boot</h4>
<img src="spr.png" alt="spring boot image">
<ul>
  <li>JAVA</li>
  <li>JS</li>
  <li>TS</li>
</ul>

<a href="https://cydeo.com">Cydeo</a>
<br>
<br>
<table>
  <tr>
    <td>FirstName</td>
    <td>LastName</td>
    <td>Salary</td>
  </tr>
  <tr>
    <td>Mike</td>
    <td>MD</td>
    <td>200</td>
  </tr>
</table>
<br>
<br>
<label>UserName:</label>
<input type="text" name="userName">
<br>
<label>Password:</label>
<input type="password">
<br>
<br>
<label>Enter your Comment</label>
<textarea name="comments"></textarea>
<br>
<label>select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">FeMale
<input type="radio" name="gender" value="other">Other
<br>
<br>
<label>Select your course</label>
<input type="checkbox" name="course" value="spring">Spring
<input type="checkbox" name="course" value="DS">DS
<input type="checkbox" name="course" value="Java">Java
<br>
<br>
<label>Select your program</label>
<select>
  <option value="us_sdet">US SDET</option>
  <option value="eu_sdet">EU SDET</option>
  <option value="us_jd">US JD</option>
</select>
<br>
<br>
<form action="x" method="get">
  FirsName: <input type="text" name="firstName">
  <br>
  LastName: <input type="text" name="lastName">
  <br>
  <input type="button" value="submit">
</form>
<br>
<br>
<!--with div we create a division and if we add some styles
  then these styles will only affect this part
  -->
<div style="background-color: aqua">
  <h1>Jav Dev</h1>
  <ul>
    <li>Spring</li>
    <li>DT</li>
  </ul>
</div>
</body>
</html>

















